header>.header {
    width: 100%;
    height: 70px;
    background-color: rgba(68, 58, 58, 0);
    position: fixed;
    z-index: 999;
}


.title {
    font-size: 25px;
}

.icon {
    color: #563d7c;
    font-size: 40px;
}

.logo {
    margin-top: 10px;
}